//= require owl.carousel
//= require owl.theme

@import "bourbon";
@import "base/base";
@import "neat";
@import "variables";
@import "fullcalendar";
@import "workouts";
@import "calendar";

main {
  @include outer-container(100%);
  @include pad(1em);
}

#calendar {
}

#workout-view {
}

#motivation {
}

.fc-toolbar button {
  &:hover, &.fc-state-hover {
    background: none;
    color: black;
  }
}

.left-pane {
  @include span-columns(5);
  @include media($mobile) {
    width: 100%
  }
}

.right-pane {
  @include span-columns(7);
  @include omega;
  @include media($mobile) {
    width: 100%
  }
}
