@import "bourbon";
@import "base/base";
@import "neat";
@import "variables";

.workout {
  h1 {
    color: $action-color;
  }

  h2 {
    color: $action-color;
  }

  .exercises {
    @include clearfix;

    .exercise {
      @include span-columns(5);
      margin-bottom: 1em;

      &.hidden { display: none; }

      h2 {
        i.fa.fa-close {
          display: inline-block;
          float: left;
          cursor: pointer;
          margin-right: 10px;
        }
      }
    }
  }

  .training-area-point, .workout-point {
    h2 { float: left; margin-right: 1em; }
    span.value {
      display: block;
      line-height: 1.25em;
    }

    .slider {
      margin-top: 1em;
    }
  }

  .training-area-points {
    @include clearfix;

    .training-area-point {
      @include span-columns(5);
      margin-bottom: 1em;

      &.hidden { display: none; }
    }
  }

  .workout-point {
    margin-bottom: 1em;
  }

  a.button {
    span.spinner { display: none; }
  }

  &.submitting {
    a.button {
      span.normal { display: none; }
      span.spinner { display: block; }
    }
  }

  &.future {
    .points {
      display: none;
    }
  }
}
